* {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  background-color: #1c1c1c;
  font-family: -apple-system, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

main {
  background-color: white;
  min-height: 100vh;
  padding: 6rem 4rem;
}

h1 {
  text-align: center;
  font-size: calc(4rem + 90 * (100vw - 32rem) / 1600);
  min-height: 0vw; /* Safari hack/fix for vw inside calc */
  margin-top: 0;
}

.break {
  height: 12vh;
}
